.moviecard {
  width: auto;
  height:max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Jost', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 350;
  border: 1px solid #444545ff;
  margin: 12px;
  padding: 8px;
}

.image {
width: 200px;
border: .5px solid #444545ff;
}