/*
--onyx: #444545ff;
--light-sea-green: #00a6a6ff;
--tumbleweed: #e6b89cff;
--wheat: #ead2acff;
--pewter-blue: #9cafb7ff;
*/

:root {
--background: #00a6a6ff;
margin: 0 auto;
padding: 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
height: 100%;
width: auto;

}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
