/*
--onyx: #444545ff;
--light-sea-green: #00a6a6ff;
--tumbleweed: #e6b89cff;
--wheat: #ead2acff;
--pewter-blue: #9cafb7ff;
*/
* {
  box-sizing: border-box;
  --background: #ead2acff;
  --text-color: #444545ff;
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: 'Josefin Sans';
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.title {
    text-align: center;
}

.search-input {
  margin-bottom: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-top: 5px;
  margin-left: 15px;
}

.empty {
  padding: 10px;
}
